.searchinput {
    background-color: var(--color-grey-secondary);
    padding: 0rem .05rem;
    border-radius: 1rem;
    display: flex;
    position: relative;
    align-items: center;
    width: 50%;
    .searchinput__icon {
        position: absolute;
        right: .5rem;
    }

    input {
        border: none;
        outline: none;
        background-color: white;
        border-radius: 1rem;
        background-color: var(--color-grey-secondary);
        height: 100%;
        
    }

}