.input-group {
    width: 100%;
    margin: .5rem 0rem;


    .input {
        width: 100%;
        border-radius: 1rem;
        padding: .9rem 1rem;
        border: none;
        outline: none;
        margin: .4rem;
        background-color: var(--color-grey-secondary);


        &:focus {
            background-color: var(--color-grey-secondary); 
        }
    }

    .label {
        font-size: 1.6rem;
        font-family: Lato;
        margin: .5rem;
    }
}